{
    "presets": [
        [
            "env",
            {
                "target": {
                    "node": true
                }
            }
        ],
        "react"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "../.."
            }
        ]
    ]
}
